<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
  <% if(nav) {%>
    <header>
      <nav class="navbar navbar-default header">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
              <img src="images/logo.png"> ACME <span>CORP.</span>
            </a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="#">Builder</a></li>
              <li><a href="#">Engine</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Solutions <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Page 1</a></li>
                  <li><a href="#">Page 2</a></li>
                  <li><a href="#">Page 3</a></li>
                </ul>
              </li>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">Blog</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Login</a></li>
              <li><a href="#">Contact us</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <% if(subnav) {%>
        <div class="container navbar navbar-default subnav">
          <ul class="nav navbar-nav">
            <li><a href="#">Documentation</a></li>
            <li><a class="it-disabled" href="#">Guides</a></li>
            <li><a class="it-disabled" href="#">Tutorials</a></li>
            <li><a class="it-disabled" href="#">Support</a></li>
          </ul>
        </div>
        <% } %>
    </header>
    <% } %>

      <%- body %>
</body>

</html>
