@import 'reset';
@import 'variables';

body {
  font-family: $main-font;
  font-size: 15px;
  color: $main-color;
  background-color: $background-grey;
}

.header {
  background-color: white;
  height: 70px;
  padding-top: 12px;
  font-size: 0.87em;
}

.navbar-default {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $light-grey;

  .navbar-header,
  .navbar-nav li {
    a {
      font-weight: $font-weight-bold;
      padding-right: 25px;
      color: $main-color;

      span {
        font-weight: $font-weight-light;
      }
    }

    .it-disabled {
      font-weight: $font-weight-light;
    }
  }

  .navbar-header a {
    margin-top: -5px;

    img {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.subnav {
  height: 60px;
  margin-top: -10px;
  font-size: 0.87em;
}

.intro-page {
  background-color: $main-color;
  height: 1000px;

  a {
    text-decoration: none;
  }

  h1 {
    font-size: 6.2em;
    font-weight: 700;
    color: white;
    text-align: center;
    line-height: 750px;
  }
}

.intro {
  padding-top: 70px;

  h2 {
    font-weight: 800;
    font-size: 2.15em;
  }

  p {
    font-size: 1.33em;
    font-family: $secondary-font;
    font-weight: $font-weight-light;
    line-height: 1.5;
    padding-top: 20px;
  }
}

.stylish-input-group {
  padding-top: 30px;

  .input-group-addon {
    background: white;
  }

  .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    height: 60px;
    font-size: 1.15em;
    font-weight: $font-weight-light;
  }

  .form-control::placeholder {
    color: $secondary-color;
    font-weight: $font-weight-light;
  }

  button {
    border: 0;
    background: transparent;
    font-size: 1.15em;
    color: $secondary-color;
  }
}

.services {
  padding-top: 65px;
  color: $secondary-color;

  h3 {
    font-size: 1.3em;
    font-weight: normal;
  }

  p {
    padding-top: 15px;
    font-family: $secondary-font;
    font-weight: $font-weight-light;
    line-height: 1.7;
  }

  button {
    margin-top: 25px;
    width: 100%;
    text-align: left;
    height: 58px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border: 0.25px solid rgba(0, 0, 0, 0.1);
    font-size: 1.05em;
    font-weight: $font-weight-bold;
    padding-bottom: 8px;
  }

  button img {
    padding-right: 15px;
    vertical-align: middle;
  }
}

.content-page {
  padding-top: 70px;
  padding-bottom: 70px;
}

.sublist {
  padding-left: 10%;

  li a {
    margin-top: -10px;
  }
}

.menu li {
  font-size: 0.95em;
  margin-top: -5px;

  a {
    color: $main-color;
  }

  a:hover {
    background: transparent;
  }

  .level1 {
    color: #aaa;
    padding-top: 18px;
    font-weight: $font-weight-light;
  }
}

.block {
  h2 {
    font-weight: 800;
    margin-top: 0;
    font-size: 1.7em;
  }

  p {
    padding-top: 15px;
    line-height: 1.6;
  }

  img {
    padding-top: 20px;
    padding-bottom: 25px;
  }

  h3 {
    padding-top: 50px;
    font-size: 1.45em;
    font-weight: $font-weight-bold;
  }
  h4 {
    font-size: 1.1em;
    font-weight: $font-weight-bold;
    padding-bottom: 5px;
  }
  a {
    display: inline-block;
  }
}

.alert {
  margin-top: 25px;
  color: $main-color;
  line-height: 1.7;
  font-size: 0.9em;
}

.table {
  margin-top: 30px;
  font-size: 0.9em;
  tr {
    height: 60px;
  }
  pre {
    font-family: monospace;
    background: transparent;
  }
  th p {
    font-weight: $font-weight-bold;
    margin-left: 10px;
    margin-top: -45px;
  }
  td p {
    padding-left: 10px;
    padding-top: 15px;
  }
}
