body {
  font: 13.5px "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #F9F9F9;
}

.intro-page {
  background-color: #182944;
  height: 1000px;
}

.intro-page h1 {
  font-size: 7em;
  font-weight: 600;
  color: white;
  text-align: center;
  line-height: 750px;
}

.header {
  background-color: white;
  height: 70px;
  padding-top: 12px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav li a {
  color: #162945;
  font-weight: 500;
  padding-right: 25px;
}

.navbar-default .navbar-header a img {
  display: inline-block;
  margin-top: -10px;
}

.navbar-default .navbar-brand span {
  font-weight: 300;
}

.navbar-default {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #e7e7e7;
}

.subnav {
  height: 60px;
  margin-top: -10px;
}

.navbar-default .navbar-nav li .it-disabled {
  font-weight: 300;
}

.intro {
  padding-top: 45px;
}

.intro h2 {
  font-weight: bolder;
  color: #162945;
}

.intro p {
  font-size: 1.5em;
  color: #162945;
  font-family: Helvetica;
  font-weight: lighter;
  line-height: 1.5;
  padding-top: 8px;
}

.stylish-input-group {
  padding-top: 13px;
}

.stylish-input-group .input-group-addon {
  background: white;
}

.stylish-input-group .form-control {
  border-right: 0;
  box-shadow: 0 0 0;
  border-color: #ccc;
  height: 60px;
  font-size: 1.3em;
  font-weight: 300px;
}

.stylish-input-group .form-control::placeholder {
  color: #ccc;
  font-weight: 300;
}

.stylish-input-group button {
  border: 0;
  background: transparent;
  font-size: 1.3em;
  color: #ccc;
}

.services {
  padding-top: 45px;
  color: #647083;
}

.services h3 {
  font-size: 1.4em;
  font-weight: normal;
}

.services p {
  padding-top: 5px;
  font-size: 1.1em;
  font-family: Helvetica;
  font-weight: lighter;
  line-height: 1.7;
}

.services button {
  margin-top: 16px;
  width: 100%;
  text-align: left;
  height: 58px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border: 0.25px solid rgba(0, 0, 0, 0.1);
  font-size: 1.18em;
  font-weight: 500;
}

.services button img {
  padding-right: 15px;
}

.sublist {
  padding-left: 10%;
}

.sublist li {
  margin-top: -10px;
}

.menu li {
  margin-top: -5px;
}

section {
  padding-top: 70px;
}

.block h2 {
  font-weight: bolder;
  color: #162945;
  margin-top: 0;
  font-size: 1.8em;
}

.block p {
  color: #162945;
  font-size: 1.1em;
  padding-top: 5px;
  line-height: 1.6;
}

.block a {
  font-size: 1.1em;
}

.block img {
  padding-top: 15px;
  padding-bottom: 25px;
}

.block h3 {
  padding-top: 50px;
  font-size: 1.6em;
}

tr {
  height: 40px;
}

pre {
  border: none;
  background: transparent;
}

td p, th p {
  margin-top: 5px;
  margin-left: 10px;
  background-color: pink;
}

table {
  font-size: 0.9em;
}
