$main-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$secondary-font: Helvetica;
$font-weight-bold: 500;
$font-weight-light: 300;

$main-color: #182944;
$background-grey: #F9F9F9;
$light-grey: #e7e7e7;
$secondary-color: #647083;
